<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Favicon -->
        <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Mobile-first stuff -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Footer style -->
		<style>
			html {
  				position: relative;
  				min-height: 100%;
			}
			body {
				/* Margin bottom by footer height */
				margin-bottom: 100px;
			}
			.footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				/* Set the fixed height of the footer here */
				height: 60px;
				background-color: #f5f5f5;
				margin-top: 10px;
			}
			body > .container {
				padding: 60px 15px 0;
			}
			.container .text-muted {
				margin: 20px 0;
			}
			.footer > .container {
				padding-right: 15px;
				padding-left: 15px;
			}
		</style>

        <title>Лермонтов: Тамань сегодня</title>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Тамань сегодня</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">

              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О проекте</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/about_project">Наш проект</a>
                        <a class="dropdown-item" href="/members">Участники</a>
                        <a class="dropdown-item" href="/other_projects">Связанные проекты</a>
                        <a class="dropdown-item" href="/contacts">Контакты</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Лермонтов</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="/author">Автор</a>
                        <a class="dropdown-item" href="/novel">Роман</a>
                        <a class="dropdown-item" href="/lermontov_language">Язык писателя</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Комментарий</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/comments_history">Исторический</a>
                        <a class="dropdown-item" href="/comments_ling">Лингвистический</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Интерактив</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="/maps">Карты</a>
                        <a class="dropdown-item" href="/texts">Тексты</a>
                        <a class="dropdown-item" href="/films">Фильмы</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Библиография</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown05">
                        <a class="dropdown-item" href="/publications">Публикации</a>
                        <a class="dropdown-item" href="/monographies">Основная литература</a>
                    </div>
                </li>
            </div>
        </nav>

        <!-- Main -->
        <div class="container theme-showcase" role="main">
			<div class="jumbotron" style="background: url(./static/pic2.png) no-repeat center center;">
				<h1>Об авторе</h1>
			</div>
            <img src="./static/lermontov_portrait.jpg" width="300px" align="left">
            <p>Михаи́л Ю́рьевич Ле́рмонтов (3 [15] октября 1814, Москва — 15 [27] июля 1841, Пятигорск) — русский поэт, прозаик, драматург, художник. Творчество Лермонтова, в котором сочетаются гражданские, философские и личные мотивы, отвечавшие насущным потребностям духовной жизни русского общества, ознаменовало собой новый расцвет русской литературы и оказало большое влияние на виднейших русских писателей и поэтов XIX и XX веков. Произведения Лермонтова получили большой отклик в живописи, театре, кинематографе. Его стихи стали подлинным кладезем для оперного, симфонического и романсового творчества. Многие из них стали народными песнями.</p>
            Родился в Москве. Сын помещика, капитана Юрия Петровича Лермонтова и Марии Михайловны, урожденной Арсеньевой. Рано потерял мать. Его бабушка по материнской линии Елизавета Алексеевна Арсеньева, урожденная Столыпина, вынудила Юрия Петровича предоставить воспитание внука ей. Детство Лермонтова прошло в ее имении Тарханы Пензенской губернии. </p>

            <p>Первоначально получал образование дома у иностранных учителей. С 1828 г. учился в Благородном пансионе при Московском университете. Затем в Московском университете на нравственно-политическом отделении, но курса не окончил. В 1832 г. переехал в Петербург, намереваясь продолжить обучение в Петербургском университете, но зачислен не был. В том же году поступил в школу гвардейских юнкеров и прапорщиков, где учился вместе с Николаем Соломоновичем Мартыновым, будущим своим убийцей. В 1834 г. Лермонтов был выпущен корнетом в лейб-гвардии Гусарский полк.</p>

            <p>Литературную деятельность начал в 1829 г., хотя первое его произведение, поэма «Хаджи Абрек», было напечатано лишь в 1835 г. Существует предание, что рукопись была отправлена в редакцию без ведома автора. Лермонтов автор около 400 стихотворений, около 30 поэм, в том числе «Демон», «Мцыри», автор драмы «Маскарад», прозаических произведений «Герой нашего времени», «Княгиня Лиговская» и др.</p>

            <p>Стихотворение «На смерть поэта», созданное после трагической гибели А.С. Пушкина, вызвало неудовольствие властей, и Лермонтов был выслан прапорщиком в действовавший на Кавказе Нижегородский драгунский полк. В 1838 г. вновь возвратился в Петербург.</p>

            <p>На одном из балов в 1840 г. поэт поссорился с сыном французского посланника де Барантом, в результате чего произошла дуэль, окончившаяся бескровно. Но Лермонтов был вновь выслан в Тенгинский пехотный полк на Кавказ. В Пятигорске он встретил своего однокашника по школе прапорщиков Мартынова. Из-за пустой ссоры у них состоялась дуэль, на которой Лермонтов был убит. В 1842 г. прах поэта был перенесен в его имение Тарханы Пензенской губернии.</p>

            <p>Михаил Юрьевич женат не был, но всю жизнь был увлечен Варварой Александровной Лопухиной, в замужестве Бахметевой. Она является адресатом любовной лирики поэта.</p>

            <p>Лермонтов был талантливым живописцем. Его наследие составляют акварели и рисунки с изображением пейзажей, жанровых сцен, портретов, карикатур. Многие из них связаны с кавказской темой.</p>
        </div>

        <!-- Footer -->
		<footer class="footer">
			<div class="container">
				<p class="text-muted">Сделано в Школе лингвистики НИУ ВШЭ; <a href="mailto:lermontov.project@gmail.com">пишите</a>, если есть вопросы, желания или предложения!</p>
			</div>
		</footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
