<html lang="ru">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Favicon -->
        <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Mobile-first stuff -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Footer style -->
		<style>
			html {
  				position: relative;
  				min-height: 100%;
			}
			body {
				/* Margin bottom by footer height */
				margin-bottom: 100px;
			}
			.footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				/* Set the fixed height of the footer here */
				height: 60px;
				background-color: #f5f5f5;
				margin-top: 10px;
			}
			body > .container {
				padding: 60px 15px 0;
			}
			.container .text-muted {
				margin: 20px 0;
			}
			.footer > .container {
				padding-right: 15px;
				padding-left: 15px;
			}
		</style>

        <title>Тамань сегодня</title>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Тамань сегодня</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">

              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О проекте</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/about_project">Наш проект</a>
                        <a class="dropdown-item" href="/members">Участники</a>
                        <a class="dropdown-item" href="/other_projects">Связанные проекты</a>
                        <a class="dropdown-item" href="/contacts">Контакты</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Лермонтов</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="/author">Автор</a>
                        <a class="dropdown-item" href="/novel">Роман</a>
                        <a class="dropdown-item" href="/lermontov_language">Язык писателя</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Комментарий</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/comments_history">Исторический</a>
                        <a class="dropdown-item" href="/comments_ling">Лингвистический</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Интерактив</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="/maps">Карты</a>
                        <a class="dropdown-item" href="/texts">Тексты</a>
                        <a class="dropdown-item" href="/films">Фильмы</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Библиография</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown05">
                        <a class="dropdown-item" href="/publications">Публикации</a>
                        <a class="dropdown-item" href="/monographies">Основная литература</a>
                    </div>
                </li>
            </div>
        </nav>

        <!-- Body -->
        <div class="jumbotron" style="background: url(./static/lermontov_main_bleak.jpg) no-repeat center center;">
            <!-- Header + Call-to-action -->
            <div class="col-md-6 p-lg-5 mx-auto my-5" align="center">
                <h1 class="display-4 font-weight-normal">Тамань сегодня</h1>
                <p class="lead font-weight-normal"><i>Откройте для себя произведения Лермонтова, прочитанные ещё в школе, заново.</i></p>
            </div>
        </div>

        <main role="main" class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et justo auctor tortor interdum sagittis id id nulla. Sed viverra iaculis nulla quis elementum. Phasellus ut molestie felis. Proin malesuada risus sed malesuada sollicitudin. Donec egestas dolor luctus arcu venenatis, non sodales sem tempus. Phasellus at fringilla est. Morbi posuere egestas urna, sed congue orci mattis a. Mauris auctor imperdiet nisl, gravida blandit sapien elementum eu. Suspendisse luctus mauris mi, vitae maximus nulla fermentum eu. Proin eleifend massa et rhoncus dapibus. Fusce auctor magna vel lobortis bibendum. Aenean non massa sit amet velit volutpat imperdiet. Morbi ornare elit vitae tempus pretium.</p>

            <p>Ut volutpat vitae lectus ac laoreet. Suspendisse potenti. Morbi vulputate ullamcorper ligula in aliquet. In ullamcorper, magna a consequat malesuada, libero augue lobortis leo, fermentum tincidunt neque sapien eu justo. Integer vel ligula porttitor diam dapibus lacinia. Donec ornare finibus nisi sit amet scelerisque. Nam luctus, libero id accumsan luctus, mi lectus tincidunt lorem, vehicula pulvinar erat nunc eget risus. Sed egestas dui justo, interdum suscipit metus placerat a. Vestibulum gravida auctor eleifend. Nunc libero libero, dictum sed pellentesque vitae, congue convallis enim. Vestibulum sem augue, lacinia viverra mauris vel, cursus placerat nisl. Nunc non dolor ut justo tincidunt auctor.</p>
        </main>

        <!-- Footer -->
		<footer class="footer">
			<div class="container">
				<p class="text-muted">Сделано в Школе лингвистики НИУ ВШЭ; <a href="mailto:lermontov.project@gmail.com">пишите</a>, если есть вопросы, желания или предложения!</p>
			</div>
		</footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
