<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Favicon -->
        <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Mobile-first stuff -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Footer style -->
		<style>
			html {
  				position: relative;
  				min-height: 100%;
			}
			body {
				/* Margin bottom by footer height */
				margin-bottom: 100px;
			}
			.footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				/* Set the fixed height of the footer here */
				height: 60px;
				background-color: #f5f5f5;
				margin-top: 10px;
			}
			body > .container {
				padding: 60px 15px 0;
			}
			.container .text-muted {
				margin: 20px 0;
			}
			.footer > .container {
				padding-right: 15px;
				padding-left: 15px;
			}
		</style>

        <title>О романе: Тамань сегодня</title>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Тамань сегодня</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">

              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О проекте</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/about_project">Наш проект</a>
                        <a class="dropdown-item" href="/members">Участники</a>
                        <a class="dropdown-item" href="/other_projects">Связанные проекты</a>
                        <a class="dropdown-item" href="/contacts">Контакты</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Лермонтов</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="/author">Автор</a>
                        <a class="dropdown-item" href="/novel">Роман</a>
                        <a class="dropdown-item" href="/lermontov_language">Язык писателя</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Комментарий</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/comments_history">Исторический</a>
                        <a class="dropdown-item" href="/comments_ling">Лингвистический</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Интерактив</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="/maps">Карты</a>
                        <a class="dropdown-item" href="/texts">Тексты</a>
                        <a class="dropdown-item" href="/films">Фильмы</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Библиография</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown05">
                        <a class="dropdown-item" href="/publications">Публикации</a>
                        <a class="dropdown-item" href="/monographies">Основная литература</a>
                    </div>
                </li>
            </div>
        </nav>

        <!-- Main -->
        <div class="container theme-showcase" role="main">
			<div class="jumbotron" style="background: url(../static/pic2.png) no-repeat center center;">
				<h1>Роман "Герой нашего времени"</h1>
			</div>
            <p>Герой нашего времени&raquo; по праву может называться жемчужиной русской литературы. Лермонтов довольно долго вынашивал идею создания романа и продолжительное время работал над ним. Литературоведы разделяют предварительный период на три отдельных промежутка времени. Начальный этап относится к 1836 году, именно тогда юный поэт Лермонтов решил утвердить себя на пьедестале современной литературы и создать нечто такое, что абсолютно поразило бы его современников. Уже тогда он решил, что главное действующее лицо будет молодой дворянин, олицетворяющий в своем образе существующее поколение молодых людей. Он хотел отразить все противоречия, бушующие в юной порывистой душе, создать метущуюся личность, что впоследствии у него прекрасно получилось. По признанию Лермонтова на него произвело огромное впечатление прочтение романа &laquo;Евгений Онегин&raquo; Пушкина. Оно вдохновило его и настроило на плодотворную фундаментальную работу.</p>

            <p>После написания посмертной эпитафии на смерть Пушкина Лермонтов отправляется в ссылку на Кавказ, где начинает воплощать в жизнь свой замысел по написанию романа. Так начался второй этап по созданию романа. Данная поездка в каком-то смысле пришлась для писателя очень кстати, ведь именно посетив Тамань, казачьи станицы и поселения горцев, Лермонтов точно понял, о чем он хочет писать. Определился круг действующих лиц и сюжетная линия.</p>

            <p>Далее, а это уже явилось третьим творческим этапом, Лермонтов в хаотичном порядке публикует различные части будущего романа:</p>

            <ul>
                <li>1839 год &ndash; &laquo;Бэла&raquo; (при публикации &laquo;Из записок офицера на Кавказе&raquo;)</li>
                <li>1839 год &ndash; &laquo;Фаталист&raquo;</li>
                <li>1840 год &ndash; &laquo;Тамань&raquo;</li>
                <li>1840 год &ndash; &laquo;Княжна Мери&raquo;</li>
                <li>1840 год &ndash; Выход полной версии романа с авторскими ремарками и добавленной частью &laquo;Максим Максимович&raquo;</li>
            </ul>
        </div>

        <!-- Footer -->
		<footer class="footer">
			<div class="container">
				<p class="text-muted">Сделано в Школе лингвистики НИУ ВШЭ; <a href="mailto:lermontov.project@gmail.com">пишите</a>, если есть вопросы, желания или предложения!</p>
			</div>
		</footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
